<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
	<title>ูพูุชูุฑู ุชุงุฑุง</title>
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ูุฑูุดฺฏุงู ุณุงุฒ ุขููุงู ุชุงุฑุง">
    <meta name="keywords" content="ูุฑูุดฺฏุงู ุณุงุฒ ุขููุงู ุชุงุฑุง">
    <meta name="author" content="ูุฑูุดฺฏุงู ุณุงุฒ ุขููุงู ุชุงุฑุง">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="./assets/icons/favicon.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./assets/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="./assets/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./assets/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./assets/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="./assets/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="./assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/adminLogin.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('./uploads/adminLogin.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-shield-check"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						ูพูุชูุฑู ุชุงุฑุง
					</span>

					<div class="wrap-input100 validate-input p-r-35" data-validate = "ูุงู ฺฉุงุฑุจุฑ ุฑุง ูุงุฑุฏ ฺฉูุฏ">
						<input class="input100" type="text" name="username" placeholder="ูุงู ฺฉุงุฑุจุฑ">
						<span class="focus-input100" data-placeholder="๐๏ธ"></span>
					</div>

					<div class="wrap-input100 validate-input p-r-35" data-validate="ุฑูุฒ ุนุจูุฑ ุฑุง ูุงุฑุฏ ฺฉูุฏ">
						<input class="input100" type="password" name="pass" placeholder="ุฑูุฒ ุนุจูุฑ">
						<span class="focus-input100" data-placeholder="๐"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							ูุฑูุฏ
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="./assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="./assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="./assets/vendor/bootstrap/js/popper.js"></script>
	<script src="./assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="./assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="./assets/vendor/daterangepicker/moment.min.js"></script>
	<script src="./assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="./assets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="./assets/js/admin.js"></script>
</body>
</html>