<!doctype html>
<html class="no-js" lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>پلتفرم تیارا</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link href="./assets/images/تیارا.jpg" rel="shortcut icon" type="image/x-icon"/>
	<link href="./assets/images/تیارا.jpg" rel="icon">
	<link href="./assets/images/تیارا.jpg" rel="apple-touch-icon">
    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="./assets/css/animate.css">
                
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="./assets/css/LineIcons.2.0.css">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="./assets/css/bootstrap-4.5.0.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="./assets/css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="./assets/css/style.css">
    
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="./assets/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="./assets/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>

<body>
    <!--BEGIN RAYCHAT CODE--> <script type="text/javascript">!function(){function t(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,localStorage.getItem("rayToken")?t.src="https://app.raychat.io/scripts/js/"+o+"?rid="+localStorage.getItem("rayToken")+"&href="+window.location.href:t.src="https://app.raychat.io/scripts/js/"+o+"?href="+window.location.href;var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}var e=document,a=window,o="65eaa084-aa6e-4867-a0de-d1e70c9964ec";"complete"==e.readyState?t():a.attachEvent?a.attachEvent("onload",t):a.addEventListener("load",t,!1)}();</script> <!--END RAYCHAT CODE-->
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->    
  <style>
    @font-face {
        font-family: IRANSans;
        src: url("./assets/fonts/IRANSansWeb.eot");
        src: url("./assets/fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
            /* IE6-8 */ url("./assets/fonts/IRANSansWeb.woff2") format("woff2"),
            /* FF39+,Chrome36+, Opera24+*/ url("./assets/fonts/IRANSansWeb.woff")
            format("woff"),
            /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./assets/fonts/IRANSansWeb.ttf")
            format("truetype");
    }
    * {
        font-family: "IRANSans", sans-serif;
    }
    #about ,#contactUs{
        text-align: right;
    }
</style>
   
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->
    
    <!--====== HEADER PART START ======-->
    
    <header class="header-area">
        <div class="navbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                                <img src="./assets/images/تیارا-.png" width="100px" alt="Logo">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="#home">خانه</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#features">ویژگی ها</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#prices">تعرفه ها</a>
                                    </li>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="https://test.tiaraplatform.ir/contactUs">تماس با ما</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="aboutUs">درباره ما</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="terms">قوانين و شرایط استفاده</a>
                                </li>
                                </ul>
                                <div class="navbar-btn">
                                    <a class="main-btn" data-scroll-nav="0" href="https://test.tiaraplatform.ir/user/login" target="_blank">ورود</a>
                                    <a class="main-btn page-scroll" data-scroll-nav="0" href="#prices">ثبت نام</a>
                                </div> 
                            </div>
                            <!-- navbar collapse -->
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->
        
        <div id="home" class="header-hero bg_cover" style="background-image: url(./assets/images/banner-bg.svg)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="header-hero-content text-center">
                            <!-- <h3 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">فروشگاه ساز آنلاین</h3> -->
                            <h2 class="header-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.1s">تیارا</h2>
                            <h3 class="text wow fadeInUp"  data-wow-duration="1.3s" data-wow-delay="0.2s">حداقل هزینه و زمان برای ساخت فروشگاه آنلاین</h3>
                            <a href="#features" class="page-scroll main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">ادامه</a>
                        </div> <!-- header hero content -->
                    </div>
                </div> <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-hero-image text-center wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.6s">
                            <img src="./assets/images/dashboard.png" alt="hero">
                        </div> <!-- header hero image -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div id="particles-1" class="particles"></div>
        </div> <!-- header hero -->
    </header>
    
    <!--====== HEADER PART ENDS ======-->
    
    <!--====== SERVICES PART START ======-->
    
    <section id="features" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>
                        <h3 class="title">در کمتر از 5 دقیقه <br class="d-none d-sm-block">فروشگاه خودت رو بساز</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-12 col-sm-4">
                    <div class="single-services text-center mt-30 wow fadeIn shadow-lg" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="services-icon">
                            <img class="shape" src="./assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="./assets/images/services-shape-1.svg" alt="shape">
                            <i class="lni lni-layers"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">ساده و پر سرعت</a></h4>
                            <p class="text">بدون نیاز به دانش فنی و تخصصی به راحتی فروشگاه خود را مدیریت کنید.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-12 col-sm-4">
                    <div class="single-services text-center mt-30 wow fadeIn shadow-lg" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="services-icon">
                            <img class="shape" src="./assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="./assets/images/services-shape-2.svg" alt="shape">
                            <i class="lni lni-headphone"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">پشتیبانی 24/7</a></h4>
                            <p class="text">در هر لحظه از شبانه روز می توانید با پشتیبانی در ارتباط باشید</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-12 col-sm-4">
                    <div class="single-services text-center mt-30 wow fadeIn shadow-lg" data-wow-duration="1s" data-wow-delay="0.4s">
                        <div class="services-icon">
                            <img class="shape" src="./assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="./assets/images/services-shape-3.svg" alt="shape">
                            <i class="lni lni-money-protection"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">بدون کارمزد</a></h4>
                            <p class="text">با پرداخت حق اشتراک ماهیانه نیاز به پرداخت کارمزد جداگانه ندارید</p>
                        </div>
                    </div> <!-- single services -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== SERVICES PART ENDS ======-->
    
    <!--====== ABOUT PART START ======-->
    
    <section id="about" class="about-area pt-70">
        <div class="container">
            <div class="row shadow-lg">
                <div class="col-lg-6 float-xl-left">
                    <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.3s">
                        <img src="./assets/images/store.png" alt="about">
                    </div> <!-- about image -->
                </div>
                <div class="col-lg-6">
                    <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="section-title">
                            <div class="line"></div>
                            <h3 class="title"><span> فروشگاه ساز آنلاین </span>تیارا </h3>
                        </div> <!-- section title -->
                        <p class="text">هزینه و زمان زیادی برای ساخت فروشگاه توسط تیم محصول صرف می کنید. و در آخر هم ممکن است، فروشگاه شما بدلیل استاندارد نبودن، نرخ فروش مناسبی نداشته و مشتریان خود را از دست بدهید. متناسب با نیاز کاربران فروشگاه آنلاین اختصاصی بسازید. تیارا این بستر رو برای شما فراهم کرده است.</p>
                        <a href="#prices" class="page-scroll main-btn mb-3 rounded-lg">ثبت نام</a>
                    </div> <!-- about content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="about-shape-1">
            <img src="./assets/images/about-shape-1.svg" alt="shape">
        </div>
    </section>
    
    <!--====== ABOUT PART ENDS ======-->

    <!--====== Pricing Table Start ======-->
    <div id="prices">
        <div class="p-5 rounded-lg">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>
                        <h3 class="title">تعرفه ها</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
          <!-- Pricing Table-->
          <div class="col-lg-12 d-flex justify-content-center mb-5 text-center w-100">
            <div class="bg-white p-5 rounded-lg shadow-lg col-lg-4">
              <h2 class="h1 font-weight-bold">رایگان</h2>
              <ul class="list-unstyled my-5 text-small text-right font-weight-normal">
                <li class="mb-3">
                  <i class="fa fa-check mr-2 text-primary"></i> اضافه کردن بی نهایت محصول</li>
                <li class="mb-3">
                  <i class="fa fa-check mr-2 text-primary"></i> پشتیبانی ۲۴/۷</li>
                <li class="mb-3">
                  <i class="fa fa-check mr-2 text-primary "></i> <del>دامنه شخصی</del></li>
              </ul>
              <a href="https://test.tiaraplatform.ir/user/signUp" target="_blank" class="main-btn btn-block p-2 shadow rounded-pill">خرید</a>
            </div>
          </div>
          <!-- END -->
        </div>
    </div>
    <!--====== Pricing Table ENDS ======-->

    <!--====== FOOTER PART START ======-->
    
    <footer id="contactUs" class="footer-area pt-120">
        <div class="container col-lg-6">
            <div class="subscribe-area wow fadeIn shadow-lg" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="row align-content-center">
                    <div style="text-align: center; line-height: 40px;">
                        <div class="subscribe-content mt-45">
                            <h2 class="subscribe-title">درخواست مشاوره <span style="font-size: medium; margin-top: 7px;">همین حالا درخواست مشاوره خود را ثبت کنید تا کارشناسان ما در اسرع وقت با شما تماس بگیرند و پس از مشاوره کد تخفیف یک ماه اشتراک رایگان را به شما بدهند.</span></h2>
                        </div>
                        <h4><a class="col-lg-6 mt-5 main-btn btn-block p-2 shadow rounded-pill" style="text-align: center;" href="https://test.tiaraplatform.ir/contactUs">کلیک کنید</a></h4>
                    </div>
                    <!-- <div class="col-lg-6">
                        <div class="subscribe-form mt-50"> -->
                            <!-- <form action="#contactus"> -->
                                <!-- <input style="text-align: center;" type="text" placeholder="شماره تلفن خود را وارد کنید">
                                <button class="main-btn disabled">ثبت درخواست</button> -->
                            <!-- </form> -->
                        <!-- </div>
                    </div> -->
                 </div> 
            </div> 
            <!-- subscribe area -->
            <div class="footer-widget pb-100">
                <div class="row col-lg-12 col-md-12">
                    <div class="col-lg-4 col-md-4 col-sm-8">
                        <div class="footer-about mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                            <img src="./assets/images/تیارا-.png" class="w-50" alt="logo">
                        </div> <!-- footer about -->
                        <div class="footer-about mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                            <div id="zarinpal" style="width: 80px; float: right; padding-right: 20px;">
                                <script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script>
                              </div>
                        </div> <!-- footer about -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-7">
                        <div class="footer-link d-flex mt-50 justify-content-md-between">
                            <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.3s">
                                <div class="footer-title">
                                    <h4 class="title">لینک های مفید</h4>
                                </div>
                                <ul class="link">
                                    <li>
                                        <a class="page-scroll" href="#home">خانه</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#features">ویژگی ها</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#prices">تعرفه ها</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#contactUs">ارتباط با ما</a>
                                    </li>
                                </ul>
                            </div> <!-- footer wrapper -->
                             <!-- footer wrapper -->
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-7 pt-50">
                        <div class="footer-link d-flex justify-content-md-between">
                            <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                                <div class="footer-title mb-30">
                                    <h4 class="title">راه های ارتباطی</h4>
                                </div>
                                <ul class="social d-flex justify-content-around mb-10" style="background-color: white; height: fit-content;">
                                    <li><a href="https://www.facebook.com/tiaraplatform"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="https://www.twitter.com/tiaraplatform"><i class="lni lni-twitter-filled"></i></a></li>
                                    <li><a href="https://www.instagram.com/tiaraplatform"><i class="lni lni-instagram-filled"></i></a></li>
                                    <li><a href="https://www.t.me/tiaraplatform"><i class="lni lni-telegram-original"></i></a></li>
                                </ul>
                                <ul class="contact text-white">
                                    <li style="direction: ltr;">+98 930 503 7134</li>
                                    <li style="direction: ltr;">066 33 43 2732</li>
                                    <li>tiaraplatform@gmail.ir</li>
                                    <li>آدرس: لرستان ، خرم آباد ، محله كوی جهاد گران ، كوچه شهید عزت اله زارعی ، خیابان ساحلی ، جهاد دانشگاهی لرستان ، مرکز رشد جهاد دانشگاهی</li>
                                    <li>کد پستی: 6817637376</li>
                                </ul>
                            </div> <!-- footer contact -->
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- footer widget -->
            <div class="footer-copyright">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright d-sm-flex justify-content-center">
                            <div class="copyright-content">
                                <p class="text"><a href="https://tiaraplatform.ir" rel="nofollow">پلتفرم تیارا  <i class="lni lni-heart-filled"></i></a></p>
                            </div> <!-- copyright content -->
                        </div> <!-- copyright -->
                    </div>
                </div> <!-- row -->
            </div> <!-- footer copyright -->
        </div> <!-- container -->
        <div id="particles-2"></div>
    </footer>
    
    <!--====== FOOTER PART ENDS ======-->
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->   
    
    <!--====== PART START ======-->
    
<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-"></div>
            </div>
        </div>
    </section>
-->
    
    <!--====== PART ENDS ======-->




    <!--====== Jquery js ======-->
    <script src="./assets/js/vendor/jquery-3.5.1-min.js"></script>
    <script src="./assets/js/vendor/modernizr-3.7.1.min.js"></script>
    
    <!--====== Bootstrap js ======-->
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap-4.5.0.min.js"></script>
    
    <!--====== Plugins js ======-->
    <script src="./assets/js/plugins.js"></script>
    
    <!--====== Counter Up js ======-->
    <script src="./assets/js/waypoints.min.js"></script>
    <script src="./assets/js/jquery.counterup.min.js"></script>
    

    
    <!--====== Scrolling Nav js ======-->
    <script src="./assets/js/jquery.easing.min.js"></script>
    <script src="./assets/js/scrolling-nav.js"></script>
    
    <!--====== wow js ======-->
    <script src="./assets/js/wow.min.js"></script>
    
    <!--====== Particles js ======-->
    <script src="./assets/js/particles.min.js"></script>
    
    <!--====== Main js ======-->
    <script src="./assets/js/main.js"></script>
    <script>
        function ConvertNumberToPersion() {

            persian = {0: '۰', 1: '۱', 2: '۲', 3: '۳', 4: '۴', 5: '۵', 6: '۶', 7: '۷', 8: '۸', 9: '۹'};
            function traverse(el) {
                if (el.nodeType == 3) {
                    var list = el.data.match(/[0-9]/g);
                    if (list != null && list.length != 0) {
                        for (var i = 0; i < list.length; i++)
                            el.data = el.data.replace(list[i], persian[list[i]]);
                    }
                }
                for (var i = 0; i < el.childNodes.length; i++) {
                    traverse(el.childNodes[i]);
                }
            }

            traverse(document.body);
        }
        ConvertNumberToPersion()
    </script>
</body>

</html>
