<!doctype html>
<html class="no-js" lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>پلتفرم تیارا</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link href="./assets//images/تیارا.jpg" rel="shortcut icon" type="image/x-icon"/>
	<link href="./assets//images/تیارا.jpg" rel="icon">
	<link href="./assets//images/تیارا.jpg" rel="apple-touch-icon">
    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="./assets//css/animate.css">
                
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="./assets//css/LineIcons.2.0.css">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="./assets//css/bootstrap-4.5.0.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="./assets//css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="./assets//css/style.css">
    
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="./assets//css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="./assets//font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>

<body>
    <!--BEGIN RAYCHAT CODE--> <script type="text/javascript">!function(){function t(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,localStorage.getItem("rayToken")?t.src="https://app.raychat.io/scripts/js/"+o+"?rid="+localStorage.getItem("rayToken")+"&href="+window.location.href:t.src="https://app.raychat.io/scripts/js/"+o+"?href="+window.location.href;var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}var e=document,a=window,o="65eaa084-aa6e-4867-a0de-d1e70c9964ec";"complete"==e.readyState?t():a.attachEvent?a.attachEvent("onload",t):a.addEventListener("load",t,!1)}();</script> <!--END RAYCHAT CODE-->
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->    
  <style>
    @font-face {
        font-family: IRANSans;
        src: url("./assets//fonts/IRANSansWeb.eot");
        src: url("./assets//fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
            /* IE6-8 */ url("./assets//fonts/IRANSansWeb.woff2") format("woff2"),
            /* FF39+,Chrome36+, Opera24+*/ url("./assets//fonts/IRANSansWeb.woff")
            format("woff"),
            /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./assets//fonts/IRANSansWeb.ttf")
            format("truetype");
    }
    * {
        font-family: "IRANSans", sans-serif;
    }
    #about ,#contactUs{
        text-align: right;
    }
</style>
   
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->
    
    <!--====== HEADER PART START ======-->
    
    <header class="header-area">
        <div class="navbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                                <img src="./assets//images/تیارا-.png" width="100px" alt="Logo">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="https://tiaraplatform.ir">خانه</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- navbar collapse -->
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->
        
        <div id="home" class="header-hero bg_cover" style="background-image: url(./assets//images/banner-bg.svg)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="header-hero-content text-center">
                            <h4 class="header-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.1s">قوانین و مقررات</h4>
                        </div> <!-- header hero content -->
                    </div>
                </div>
                <div class="container mb-50 mt-50 align-content-center">
                    <div class="subscribe-area wow fadeIn shadow-lg" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="footer-link d-flex justify-content-md-between">
                            <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                                <div class="footer-title mb-30">
                                    <h4 class="title">قوانین و مقررات</h4>
                                </div>
                                <div class="text-right">
                                    <h5 style="line-height: 30px;">در صورت استفاده از هر یک از سرویس‌های پلتفرم تیارا شما موظف به رعایت شرایط و قوانین زیر هستید. بنابراین پیشنهاد میشود که موارد زیر را با دقت مطالعه کنید. <br>
                                    همچنین توجه داشته باشید که صفحه قوانین به صورت دوره‌ای و بر اساس شرایط تغییر می‌کند، بنابراین پیشنهاد می‌کنیم که هر چند وقت یک بار این صفحه را مطالعه بفرمایید.<br>
                                    </h5>
                                    <br>
                                    <h4>شرایط استفاده<br></h4>
                                    <p style="line-height: 50px;">
                                    از درج هرگونه محتوا که بر اساس قوانين جاری جمهوری اسلامی ايران، مشمول عنوان جرم می‌شود پرهيز کنید.<br>
                                    حداقل سن قانونی برای استفاده از سرویس‌های پلتفرم تیارا ۱۸ سال است.<br>
                                    از درج هرگونه محتوا که بر خلاف عفت عمومی و يا هنجارهای متعارف جامعه باشد، و يا به گونه‏‌ای اهانت به مقدسات دینی اديان قانونی ياد شده در قانون اساسی بشود، خودداری کنید.<br>
                                    از درج هر گونه محتوا که به واسطه آن به اشخاص حقيقی يا حقوقی تابع کشور جمهوری اسلامی ايران توهين شود ممانعت کنید.<br>
                                    مسئولیت حساب کاربری و تمامی فایل‌ها و متونی که در فروشگاه خود استفاده میکنید به عهده سازنده آن حساب کاربری می‌باشد. توجه کنید که رعایت نکردن قوانین موجب بسته شدن فروشگاه و حساب کاربری خواهد شد. درصورت نیاز به اطلاع‌رسانی و هشدار، تیم پشتیبانی پلتفرم تیارا از طریق پست الکترونیک یا شماره تماس وارد شده با شما ارتباط برقرار خواهد کرد.<br>
                                    مسئولیت درست نبودن اطلاعات کاربری و اطلاعات پرداخت به عهده کاربر می‌باشد و پلتفرم تیارا در قبال اتفاقات ناشی از آن مسئولیتی ندارد.<br>
                                    مسئولیت حقوقی هرگونه محتوایی که در سرویس‌های پلتفرم تیارا استفاده کنید متوجه کاربر می‌شود و سایت پلتفرم تیارا هیچگونه مسئولیتی در قبال محتوای فروشگاه‌ها نمی‌پذیرد.<br>
                                    پلتفرم تیارا حق دارد در صورت نیاز در هر زمان سرویس ارائه شده را تغییر دهد و یا لغو کند.<br>
                                    در صورت مغایرت محتوای فروشگاه با قوانین جمهوری اسلامی ایران، پلتفرم تیارا میتواند محتوای مجرمانه و یا در صورت نیاز فروشگاه متخلف را حذف کند.<br>
                                    از قرار دادن لینک خرید سایت‌های دیگر در فروشگاه ساخته شده توسط پلتفرم تیارا خودداری کنید. تمامی روند فروش محصول باید از طریق سرویس پلتفرم تیارا انجام شود. در صورت برخورد با همچین موردی، فروشگاه غیرفعال خواهد شد.<br>
                                    از اضافه کردن روش‌های پرداخت دیگر مثل کارت به کارت در هر صفحه‌ای از فروشگاه خودداری کنید. تمامی پرداخت‌ها باید از طریق درگاه ثبت شده شما در فروشگاه انجام شود. در صورت مشاهده این مورد، پلتفرم تیارا فروشگاه متخلف را مسدود خواهد کرد.<br>
                                    خرید و فروش فروشگاه‌های ساخته شده در پلتفرم تیارا بدون هماهنگی، غیرقانونی است و در صورت مشاهده علاوه بر غیرفعال کردن فروشگاه، این مورد به صورت قانونی پیگیری خواهد شد.<br>
                                    در صورت استفاده از نام‌های غیرمتعارف در نام دامنه فروشگاه، پلتفرم تیارا بدون اطلاع قبلی و در سریع‌ترین زمان ممکن فروشگاه مورد نظر را حذف خواهند نمود.<br>
                                    پلتفرم تیارا می‌تواند به دلایل مختلف در هر زمانی اقدام به دریافت مدارک شناسایی صاحب فروشگاه یا تعهدنامه کتبی نماید.<br>
                                    مسئولیت تمامی فایل‌های آپلود شده روی فروشگاه و خدمات در حال ارائه بر عهده صاحب فروشگاه می‌باشد و پلتفرم تیارا هیچ مسئولیتی در قبال آن ندارد.<br>
                                    پلتفرم تیارا حق دارد در صورت نیاز، فایل و یا خدمت ارائه شده در هر فروشگاه را بر اساس تشخیص خود، حذف یا غیرفعال نماید.<br>
                                    در صورت بروز مشکل از سمت فروشگاه و اعلام نارضایتی مشتری، پلتفرم تیارا مسئولیتی در قبال مشکل ایجاد شده نخواهد داشت.<br>
                                    پلتفرم تیارا در زمان پیش‌آمدن موارد فورس ماژور مانند بلایای طبیعی، جنگ، شورش، اعتصاب، تحریم، قطعی اینترنت و ارتباطات داخلی و بین‌المللی، مسوولیتی در قبال انجام‌نشدن تعهدات خود ندارد.<br>
                                    </p>
                                    <br><br>
                                    <h4>شرایط لغو خدمات<br></h4>
                                    <p style="line-height: 50px;">
                                    امکان لغو و بازگشت مبلغ خرید نسخه‌های حرفه‌ای و پیشرفته‌ی پلتفرم تیارا تا ۷ روز وجود دارد.<br>
                                    شروع ۷ روز ذکر شده، از زمان ثبت سفارش تا پایان روز هفتم است.<br>
                                    بعد از گذشت ۷ روز، امکان بازگشت وجه برای هیچ یک از بازه‌های زمانی نسخه‌های پلتفرم تیارا به هیچ عنوان وجود نخواهد داشت.<br>
                                    </p>
                                    <br><br>
                                    <h4>انقضاء اشتراک<br></h4>
                                    <p style="line-height: 50px;">
                                    در صورت اتمام دوره‌ی خریداری شده و عدم تمدید آن، دسترسی به صفحه مدیریت وجود دارد اما فروشگاه تا زمان تمدید دوره غیرفعال خواهد ماند.<br>
                                    پس از گذشت ۷ روز و عدم تمدید، فروشگاه غیرفعال می‌شود.<br>
                                    در صورت عدم تمدید بعد از یک ماه، فروشگاه به صورت کامل حذف خواهد شد.<br>
                                    </p>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div> <!-- container -->
            <div id="particles-1" class="particles"></div>
    </div> 
    <!-- header hero -->
    </header>
    
    <!--====== HEADER PART ENDS ======-->

    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->   

    <!--====== Jquery js ======-->
    <script src="./assets//js/vendor/jquery-3.5.1-min.js"></script>
    <script src="./assets//js/vendor/modernizr-3.7.1.min.js"></script>
    
    <!--====== Bootstrap js ======-->
    <script src="./assets//js/popper.min.js"></script>
    <script src="./assets//js/bootstrap-4.5.0.min.js"></script>
    
    <!--====== Plugins js ======-->
    <script src="./assets//js/plugins.js"></script>
    
    <!--====== Counter Up js ======-->
    <script src="./assets//js/waypoints.min.js"></script>
    <script src="./assets//js/jquery.counterup.min.js"></script>
    

    
    <!--====== Scrolling Nav js ======-->
    <script src="./assets//js/jquery.easing.min.js"></script>
    <script src="./assets//js/scrolling-nav.js"></script>
    
    <!--====== wow js ======-->
    <script src="./assets//js/wow.min.js"></script>
    
    <!--====== Particles js ======-->
    <script src="./assets//js/particles.min.js"></script>
    
    <!--====== Main js ======-->
    <script src="./assets//js/main.js"></script>
    <script>
        function ConvertNumberToPersion() {

            persian = {0: '۰', 1: '۱', 2: '۲', 3: '۳', 4: '۴', 5: '۵', 6: '۶', 7: '۷', 8: '۸', 9: '۹'};
            function traverse(el) {
                if (el.nodeType == 3) {
                    var list = el.data.match(/[0-9]/g);
                    if (list != null && list.length != 0) {
                        for (var i = 0; i < list.length; i++)
                            el.data = el.data.replace(list[i], persian[list[i]]);
                    }
                }
                for (var i = 0; i < el.childNodes.length; i++) {
                    traverse(el.childNodes[i]);
                }
            }

            traverse(document.body);
        }
        ConvertNumberToPersion()
    </script>
</body>

</html>
