<%- include("dashboardHeader"); -%>

<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid p-t-45">
        <div class="row">
            <% if (isPasswordChange === 1 ) { %>
                <div
                    class="alert alert-success alert-dismissible fade show"
                    role="alert"
                    style="text-align: right"
                >
                    <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>پلتفرم تیارا :</strong> رمزعبور شما با موفقیت تغییر یافت.
                </div>
                <% } else if(error.length > 0) {%>
                    <div
                    class="alert alert-danger alert-dismissible fade show"
                    role="alert"
                    style="text-align: right"
                >
                    <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>پلتفرم تیارا :</strong> <%= error %>
                </div>
                <% } %>
            <div class="col-sm-12">
                <div class="card" style="background-color: rgb(234, 235, 238);">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 xl-50">
                                    <div class="card-text">
                                        <h3>تغییر رمزعبور</h3>
                                        <div class="theme-card">
                                            <form name="changePasswordForm" id="changePasswordForm" class="theme-form mt-3" action="/user/changePassword" method="POST" enctype="application/x-www-form-urlencoded">
                                                <div class="form-group row">
                                                    <label
                                                        for="oldPassword"
                                                        class="col-xl-3 col-sm-4 mb-0"
                                                        >رمز عبور فعلی:</label
                                                    >
                                                    <input
                                                        name="oldPassword"
                                                        class="form-control col-xl-8 col-sm-7"
                                                        id="oldPassword"
                                                        type="password"
                                                        required
                                                    />
                                                    <div
                                                        class="invalid-feedback offset-sm-4 offset-xl-3"
                                                    >
                                                        لطفا مقدار معتبر وارد کنید
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label
                                                        for="newPassword"
                                                        class="col-xl-3 col-sm-4 mb-0"
                                                        >رمز عبور جدید:</label
                                                    >
                                                    <input
                                                        name="newPassword"
                                                        class="form-control col-xl-8 col-sm-7"
                                                        id="newPassword"
                                                        type="password"
                                                        required
                                                    />
                                                    <div
                                                        class="invalid-feedback offset-sm-4 offset-xl-3"
                                                    >
                                                        لطفا مقدار معتبر وارد کنید
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label
                                                        for="newPasswordConfirm"
                                                        class="col-xl-3 col-sm-4 mb-0"
                                                        >تکرار رمز عبور جدید:</label
                                                    >
                                                    <input
                                                        name="newPasswordConfirm"
                                                        class="form-control col-xl-8 col-sm-7"
                                                        id="newPasswordConfirm"
                                                        type="password"
                                                        required
                                                    />
                                                    <div
                                                        class="invalid-feedback offset-sm-4 offset-xl-3"
                                                    >
                                                        لطفا مقدار معتبر وارد کنید
                                                    </div>
                                                </div>
                                                <input type="hidden" name="userTokenHide" id="userTokenHide" value="<%= token %>">
                                                <button style="display: flex; justify-content: flex-start;" class="btn btn-solid mt-3 mr-4" type="submit">تغییر</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("dashboardFooter"); -%>