<%- include("dashboardHeader"); -%>

<div class="page-body">
    <!-- Container-fluid starts-->
    <div class="container-fluid p-t-45">
        <div class="row">
            <div class="col-sm-12">
                <% if (categoryUploaded === "1") { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: right;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>پلتفرم تیارا :</strong> دسته بندی جدید شما با موفقیت اضافه شد
                      </div>
                <% } else if(categoryUploaded === "2"){ %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: right;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>پلتفرم تیارا :</strong> دسته دیگری با همین نام وجود دارد. 
                      </div>
                <% } %>
                <div class="card">
                    <div class="card-header">
                        <h5>اضافه کردن دسته جدید</h5>
                    </div>
                    <div class="card-body">
                        <div class="row product-adding">
                            <div class="col-xl-7">
                                <form id="uploadCategoryForm" class="needs-validation" action="/user/uploadCategory" method="POST" enctype="multipart/form-data">
                                    <div class="form">
                                        <div class="form-group mb-3 row">
                                            <label
                                                for="categoryName"
                                                class="col-xl-3 col-sm-4 mb-0"
                                                >نام دسته :</label
                                            >
                                            <input
                                                name="categoryName"
                                                class="form-control col-xl-8 col-sm-7"
                                                id="categoryName"
                                                type="text"
                                                placeholder="مثلا: نوشیدنی ها"
                                                required=""
                                            />
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-sm-4">اضافه کردن عکس:</label>
                                            <div class="box-input-file"><input name="categoryPicture" class="upload" type="file" accept="image/*" required></div>
                                        </div>
                                    <input type="hidden" name="userTokenHide" id="userTokenHide" value="">
                                    </div>
                                    <div class="offset-xl-3 offset-sm-4">   
                                        <button onclick="actionSet()" type="submit" class="btn btn-success">اضافه کردن</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
<script>
    function actionSet() {
        let token = localStorage.getItem("userToken");
        document.getElementById("uploadCategoryForm").action = `user/uploadCategory?userToken=${token}`;
        document.getElementById("uploadCategoryForm").submit();

    }
</script>
<%- include("dashboardFooter"); -%>